@if(Car!=null)
{
    <img src="@imageSrc" class="img-thumbnail" width="150"/> 
    <div>
        <p>@Car.CarName - @Car.Description</p>
        <div class="badge badge-info ">
            Price: @Car.Price $
        </div>
    </div> 
}

@code {
    [Parameter]
    public DetailsViewModel Car { get; set; }
    [Parameter]
    public EventCallback<DetailsViewModel> CarChanged {get; set;}
    string imageSrc
    {
        get
        {
            return $"images/{Car.Image}";
        } 
    }
}