
@* @page *@
@* @model Shop.Views.Cars.List *@
@* @using Shop.Data.Models *@
@* @model Shop.ViewModels.CarsListViewModel *@
@* @using Shop.ViewModels *@
@* @model CarsListViewModel *@
@* @{ *@
@*     Layout = "_Layout"; *@
@* } *@


<h1> All auto</h1>
<h3>@Model.CurrentCategory</h3>

<div class="row mt-5 mb-2">
    
    @{
        foreach (Shop.Data.Models.Car car in Model.AllCars)
        {
            @Html.Partial("AllCars", car)
        }

    }
</div>
