<table class="table">

  <tbody>
    <tr>
      <td>Diagonal</td>
      <td>{{product.diagonal}}</td>
    </tr>
    <tr>
      <td>Display Type</td>
      <td>{{product.display_type}}</td>
    </tr>
    <tr>
      <td>Processor</td>
      <td>{{product.processor_freq}}</td>
    </tr>
    <tr>
      <td>RAM</td>
      <td>{{product.ram}}</td>
    </tr>
    <tr>
      <td>Video Card</td>
      <td>{{product.video}}</td>
    </tr>
    <tr>
      <td>Battery life</td>
      <td>{{product.time_without_charge}}</td>
    </tr>

  </tbody>
</table>