<table class="table">

  <tbody>
    <tr>
      <td>Diagonal</td>
      <td>{{product.diagonal}}</td>
    </tr>
    <tr>
      <td>Display Type</td>
      <td>{{product.display}}</td>
    </tr>
    <tr>
      <td>Display resolution</td>
      <td>{{product.resolution}}</td>
    </tr>
    <tr>
      <td>Battery life</td>
      <td>{{product.accum_volume}}</td>
    </tr>
    <tr>
      <td>RAM</td>
      <td>{{product.ram}}</td>
    </tr>
    <tr>
      <td>Contain slot for SD</td>
      <td>{{product.sd}}</td>
    </tr>
    <tr>
      <td>Max volume for sd</td>
      <td>{{product.sd_volume_max}}</td>
    </tr>
    <tr>
      <td>Main camera</td>
      <td>{{product.main_cam_mp}}</td>
    </tr>
    <tr>
      <td>Front camera</td>
      <td>{{product.frontal_cam_mp}}</td>
    </tr>

  </tbody>
</table>